._eval {
  display: flex;
  justify-content: center;
  align-items: center;
  .__dot {
    height: 15px;
    color: green;
  }
}

._modal-container {
  position: relative;
  height: auto;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 30px;
}
.__close-panel {
  position: absolute;
  color: gray;
  cursor: pointer;
  left: 100%;
  height: 18px;
  transform: translate(-145%, -60%);
}
.__modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 20px;
  img {
    width: 100px;
    border-radius: 100%;
    margin-right: 20px;
  }
  h3 {
    margin: 0px;
  }
}
.__header-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 50%;
  padding: 5px;
}
.__info {
  width: 50%;
  strong {
    color: gray;
    font-size: 12px;
  }
  p {
    font-size: medium;
    font-weight: 500;
    margin: 0px;
  }
}

.created_by {
  font-size: 12px;
  em {
    font-weight: 500;
  }
}
h2 {
  margin-bottom: 5px;
}
